.male {
  background-color: blue;
}

.female {
  background-color: deeppink;
}

.control-label {
  cursor: pointer;
}

.coordinate-control {
  height: 20px;
}

.has-primary {
  input {
    border-color: #337ab7;
  }
}
