<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-danger" (click)="buzz()">{{buttonStatus}}</button>
    <p>{{buzzerStatus}}</p>
  </div>
</div>
<div class="row" (click)="emitStairEvent($event)">
  <div class="col-xs-12">
    <div *ngFor="let stair of stairs" style="display: inline-block; margin-right: 10px">
      <div>
        <span class="label label-default control-label" [class.label-success]="stair.isActive" [id]="stair.id" data-toggle="push">PUSH {{stair.name}}</span>
      </div>
      <div>
        <span class="label label-default control-label" [class.label-danger]="stair.isLighten" [id]="stair.id">HIGHLIGHTED</span>
      </div>
    </div>
  </div>
</div>
